div#reminder{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

div#reminder .window .header{
  display: flex;
  justify-content: space-between;
}

div#reminder .window .header .weather-forecast{
  padding: 12px;
  text-align: center;
}

div#reminder .window .header .weather-forecast > *{
  margin: 0;
  text-transform: uppercase;
}

div#reminder .window .header img.loading{
  width: 50px;
  height: 50px;
}

div#reminder > .window{
  width: 400px;
  opacity: 1;
  padding: 0 20px 20px 40px;
  border: 1px solid darkgray;
  background-color: #FFF;
}

div#reminder > .window > form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div#reminder > .window input{
  width: 280px;
}

div#reminder > .window label{
  margin-top: 20px;
  margin-bottom: 4px;
}

div#reminder input#time{
  width: 80px;
}

div#reminder input#color{
  width: 80px;
}

div#reminder > .window .validation-error{
  font-size: 14px;
  color: #AA0000;
  margin: 4px 0;
}

#buttons-section{
  display: flex;
  justify-content: flex-end;
  align-self: end;
  margin-top: 30px;
}

div#reminder button{
  cursor: pointer;
  border: 1px solid #4c81b5;
  width: 160px;
  height: 40px;
  text-transform: uppercase;
  background-color: #4c81b5;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

div#reminder button:hover{
  opacity: 0.9;
}

div#reminder button#cancel{
  color: #4c81b5;
  background-color: white;
}
