div#reminder{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#reminder > form{
  width: 400px;
  opacity: 1;
  padding: 40px;
  border: 1px solid darkgray;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div#reminder > form input{
  width: 280px;
}

div#reminder > form label{
  margin-top: 20px;
  margin-bottom: 4px;
}

div#reminder input#time{
  width: 80px;
}

div#reminder input#color{
  width: 80px;
}

div#reminder > form .validation-error{
  font-size: 14px;
  color: #AA0000;
  margin: 4px 0;
}