div.day{
  background-color: white;
  border: 1px solid darkgray;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

div.day.weekend{
  background-color: #f5f5f5;
}

div.day.weekend:hover{
  background-color: #ececec;
}

div.day .day-header{
  margin-left: 10px;
  margin-top: 4px;
  font-weight: bold;
}

div.day.weekend .day-header{
  color: #4c81b5;
}

div.day.not-current-month:hover{
  cursor: initial;
  background-color: transparent;
}

div.day.not-current-month .day-header{
  color: #bbbbbb;
}

div.day:hover{
  background-color: #f9f9f9;
  cursor: pointer;
}

div.day .reminders-section{
  margin: 0 2px;
}

div.day .reminders-section > div{
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
}

div.day .reminders-section > div:hover{
  opacity: 0.9;
  cursor: pointer;
}
