div#calendar{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 26px repeat(6, 1fr);
  width: 80%;
  height: 80vh;
}

div#calendar .header{
  background-color: #2f73b5;
  border: 1px solid #2f73b5;
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
}
